<h1>My Restaurants</h1>
<% @restaurant.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
<br>
<br>
<button><%= link_to 'Back', @category %></button>